@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Archivo";
    font-size: 24px;
  }
  
  body {
    background: lavenderblush;
  }
  
  a {
    color: #e51803;
  }
  
  a::after {
    content: '→';
    @apply inline-block pl-1;
  }
  
  a:hover {
    @apply underline;
  }
  
  p {
    @apply mb-4;
  }
  
  .text-indent-hidden {
    text-indent: -9999rem;
  }

  @font-face {
    font-family: "Archivo";
    src: url("./fonts/Archivo-Regular.woff2") format("woff2"),
      url("./fonts/Archivo-Regular.woff") format("woff"),
      url("./fonts/Archivo-Regular.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Archivo";
    src: url("./fonts/Archivo-Italic.woff2") format("woff2"),
      url("./fonts/Archivo-Italic.woff") format("woff"),
      url("./fonts/Archivo-Italic.ttf") format("ttf");
    font-weight: normal;
    font-style: italic;
  }

  @font-face {
    font-family: "Archivo";
    src: url("./fonts/Archivo-Medium.otf") format("woff2"),
      url("./fonts/Archivo-Medium.woff") format("woff"),
      url("./fonts/Archivo-Medium.ttf") format("ttf");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "Archivo";
    src: url("./fonts/Archivo-MediumItalic.woff2") format("woff2"),
      url("./fonts/Archivo-MediumItalic.woff") format("woff"),
      url("./fonts/Archivo-MediumItalic.ttf") format("ttf");
    font-weight: 500;
    font-style: italic;
  }

  @font-face {
    font-family: "Archivo";
    src: url("./fonts/Archivo-SemiBold.otf") format("woff2"),
      url("./fonts/Archivo-SemiBold.woff") format("woff"),
      url("./fonts/Archivo-SemiBold.ttf") format("ttf");
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: "Archivo";
    src: url("./fonts/Archivo-SemiBoldItalic.otf") format("woff2"),
      url("./fonts/Archivo-SemiBoldItalic.woff") format("woff"),
      url("./fonts/Archivo-SemiBoldItalic.ttf") format("ttf");
    font-weight: 600;
    font-style: italic;
  }

  @font-face {
    font-family: "Archivo";
    src: url("./fonts/Archivo-Bold.otf") format("woff2"),
      url("./fonts/Archivo-Bold.woff") format("woff"),
      url("./fonts/Archivo-Bold.ttf") format("ttf");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "Archivo";
    src: url("./fonts/Archivo-BoldItalic.otf") format("woff2"),
      url("./fonts/Archivo-BoldItalic.woff") format("woff"),
      url("./fonts/Archivo-BoldItalic.ttf") format("ttf");
    font-weight: 700;
    font-style: italic;
  }
}